body {
  background: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  min-width: 320px;
}
