@mixin btn {
  border: none;
  outline: none;
  font-size: 21px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  background: $blue;
  min-width: 280px;
  box-sizing: border-box;
  padding: 16px 0;
  text-align: center;

  &:hover {
    background: $blue-hover;
  }

  &:active {
    background: $blue-active;
    color: $white30;
  }
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin after-intro__header {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

@mixin after-intro__title () {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  padding: 0 7%;
}

@mixin after-intro__description () {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
  padding-top: 5px;
  padding-left: 7%;
  padding-right: 7%;
}
