@mixin btn {
  border: none;
  outline: none;
  font-size: 21px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  background: $blue;
  min-width: 280px;
  box-sizing: border-box;
  padding: 16px 0;
  text-align: center;

  &:hover {
    background: $blue-hover;
  }

  &:active {
    background: $blue-active;
    color: $white30;
  }
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin after-intro__header {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

@mixin after-intro__title () {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  padding: 0 7%;
}

@mixin after-intro__description () {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
  padding-top: 5px;
  padding-left: 7%;
  padding-right: 7%;
}

@mixin advantage () {
  font-size: 14px;
  color: #333333;
  text-align: center;
  line-height: 21px;
  font-weight: normal;
  padding: 40px 6%;
  background: #eeeeee;
  min-height: 170px;

  &--blue {
    background: $blue;
    color: white;
  }
}

@mixin advantage__title {
  font-weight: bold;
  color: #000000;
  font-size: 18px;
}

@media ($tablet-width) {
  min-height: 256px;
  padding: 50px 5.5%;
  font-size: 21px;
}

@mixin advantage__number {
  padding: 19px 0 13px;
}

@mixin advantage__description {
  padding: 1px;
  margin: 1px;
}
