$border: 1px solid black;
$blue: #81b3d2;
$blue-hover: #669ec0;
$blue-active: #5496bd;
$black30: rgba(0, 0, 0, 0.3);
$white30: rgba(255, 255, 255, 0.3);
$tablet-width: "min-width: 768px";
$desktop-width: "min-width: 1200px";
