.copyright {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;

  @media ($tablet-width) {
    padding: 0;
    display: inline-block;
    vertical-align: top;
  }

  @media ($desktop-width) {
    padding-left: 0;
    box-sizing: border-box;
  }
}

.copyright__link {
  height: 53px;
  margin-top: 15px;

  @media ($tablet-width) {
    margin-top: 20px;
    height: 43px;
    padding-right: 16px;
  }
}

.copyright--done {
  margin-top: 10px;

  @media ($tablet-width) {
    margin-top: 27px;
    width: 140px;
  }
}

.copyright--done,
.copyright__link {
  display: inline-block;
  vertical-align: middle;
}

.copyright--icon:hover {
  fill: $blue;
}

.copyright--icon:active {
  fill: #b2b2b2;
}
