.find-hotel {
  @include after-intro__header;
}

.find-hotel__title {
  @include after-intro__title;
  font-size: 21px;

  @media ($desktop-width) {
    padding-top: 1px;
  }
}


.find-hotel__description {
  @include after-intro__description;
  margin-bottom: 30px;

  &--shift {
    display: inline;

    @media ($tablet-width) {
      display: block;
    }
  }
}

.btn {
  @include btn;
}

.btn--find {
  display: block;
  text-decoration: none;
  margin: 0 auto;
  margin-bottom: 27px;
  width: 280px;

  @media ($tablet-width) {
    margin-bottom: 20px;
    width: 458px;
  }

  @media ($desktop-width) {
    margin-bottom: 27px;
  }
}
