.form-atractions {
  margin-bottom: -22px;

  @media ($tablet-width) {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: -44px;
  }
}
