.hamburger {
  width: 22px;
  height: 22px;
  position: absolute;
  right: 20px;
  top: 17px;
  fill: #81b3d2;

  @media ($tablet-width) {
    display: none;
  }
}

.hamburger--hidden {
  display: none;
}
