.hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: black;

  @media ($tablet-width) {
    width: 140px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 50px;
  }
}
