.icon-advantages {
  padding: 18px 6%;
  padding-top: 27px;
  padding-bottom: 0;
  min-height: 160px;
  margin-bottom: 0;

  @media ($tablet-width) {
    padding: 0;
    display: flex;
    padding-bottom: 10px;
  }
}
