.main-promo {
  border-top: 1px solid #e5e5e5;

  @include after-intro__header;
  padding-top: 15px;

  @media ($tablet-width) {
    border-top: none;
    padding: 34px 15% 58px;
  }

  @media ($desktop-width) {
    padding-top: 20px;
  }
}

.main-promo__title {
  @include after-intro__title;

  @media ($tablet-width) {
    font-size: 30px;
  }
}

.main-promo__description {
  @include after-intro__description;
  padding-top: 11px;

  @media ($tablet-width) {
    padding-top: 6px;
  }

  &--shift {
    display: inline;

    @media ($tablet-width) {
      display: block;
      padding-top: 0;
    }
  }
}
