.map {
  background: $blue url("../img/bg-map-mobile@1x.jpg") center center no-repeat;
  background-size: cover;
  height: 350px;
  width: 100%;

  @media ($tablet-width) {
    background: $blue url("../img/bg-map-tablet@1x.jpg") center center no-repeat;
  }

  @media ($desktop-width) {
    background: $blue url("../img/bg-map-desktop@1x.jpg") center center no-repeat;
  }
}

.map__iframe {
  width: 100%;
}
