.photos__title {
  font-size: 18px;

  @include after-intro__title;
  margin-top: 11px;
  margin-bottom: 11px;
}

.photos {
  @media ($tablet-width) {
    padding: 0 8%;
  }

  @media ($desktop-width) {
    padding: 1;
  }
}

.photos__header {
  @include after-intro__header;
  padding: 25px 1px 15px 1px;
}

.photos__description {
  line-height: 24px;
  color: #333333;

  @include after-intro__description;
  padding-top: 10px;

  &--shift {
    display: inline;

    @media ($tablet-width) {
      display: block;
    }
  }
}

.photos__container {
  @media ($tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}
