// сам контейнер
.photo {
  border-top: 1px solid #e5e5e5;
  padding: 25px 20px 0;
  position: relative;

  @media ($tablet-width) {
    width: 50%;
    border-top: none;
    padding: 0;
    position: relative;

    &:nth-child(1) {
      width: 100%;
    }
  }

  @media ($desktop-width) {
    width: 33.333333%;
  }
}


// фигуре (изображение +подпись)
.photo__link {
  display: block;
  text-decoration: none;
}


.photo__picture {
  margin: 0;
  overflow: hidden;
}

// само изображение
.photo__image {
  width: 280px;
  height: 280px;
  display: block;

  @media ($tablet-width) {
    width: 100%;
    height: auto;
  }
}


.photo__description {
  @media ($tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f2f2f2;
  }

  @media ($desktop-width) {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.photo-description {
  color: black;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  padding-top: 13px;

  @media ($tablet-width) {
    padding-top: 11px;
    padding-left: 15px;
    padding-bottom: 18px;
  }

  @media ($desktop-width) {
    color: white;
  }
}

.photo__author {
  display: block;
  color: #333333;
  font-weight: normal;
  text-transform: none;

  @media ($desktop-width) {
    color: white;
  }
}

.photo__likes {
  color: black;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  padding: 6px 0;
  padding-bottom: 13px;
  display: flex;

  @media ($tablet-width) {
    padding-right: 15px;
  }

  @media ($desktop-width) {
    color: white;
  }
}

.photo__likes-number {
  padding-top: 5px;
}

.photo__like {
  fill: #b2b2b2;
  margin-right: 10px;

  @media ($desktop-width) {
    fill: white;
  }
}
