.photos__title {
  font-size: 18px;

  @include after-intro__title;
  margin-top: 11px;
  margin-bottom: 11px;

  @media ($tablet-width) {
    font-size: 30px;
    margin-bottom: 21px;
  }
}

.photos {
  @media ($tablet-width) {
    padding: 0 8%;
  }

  @media ($desktop-width) {
    padding: 0;
  }
}

.photos__header {
  @include after-intro__header;
  padding: 25px 1px 15px 1px;

  @media ($tablet-width) {
    padding-top: 62px;
    padding-bottom: 55px;
  }

  @media ($desktop-width) {
    padding-top: 102px;
  }
}

.photos__description {
  line-height: 24px;
  color: #333333;

  @include after-intro__description;
  padding-top: 10px;

  @media ($tablet-width) {
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  &--shift {
    display: inline;

    @media ($tablet-width) {
      display: block;
    }
  }
}

.photos__container {
  @media ($tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media ($desktop-width) {
    width: 100%;
  }
}
